{% extends 'file_share_app/base.html' %}

{% block content %}
<h2>Files Shared With You</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>File</th>
            <th>Uploaded By</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.file.name|slice:"8:" }}</td>
            <td>{{ file.uploader.username }}</td>
            <td><a href="{{ file.file.url }}" download class="btn btn-sm btn-outline-primary">Download</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No files shared with you.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
